@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');
@tailwind base;
@tailwind components;

@css {
  body, html, #app {
    height: 100%;
    @apply .bg-grey;
  }

  .btn {
    @apply .bg-pink .text-blue;
  }

  .btn:hover {
    @apply .bg-teal;
  }
}



@tailwind utilities;
